<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjiu.shiro.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.yjiu.shiro.pojo.SysUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="role_ids" property="roleIds" jdbcType="VARCHAR" />
    <result column="locked" property="locked" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, realname,email,phone,role_ids, locked
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  	<delete id="deleteBatch">
		delete from sys_user where id in 
		  <foreach item="item" index="index" collection="list"
		      open="(" separator="," close=")">
		        #{item}
		  </foreach>
	</delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <select id="findByUsername" parameterType="string" resultMap="BaseResultMap">
  		select * from sys_user where username = #{username}
  </select>
  <select id="selectUser" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from sys_user
	</select>
  <insert id="insert" parameterType="com.yjiu.shiro.pojo.SysUser" >
    insert into sys_user ( username,realname, password, email,phone,
      role_ids, locked)
    values ( #{username,jdbcType=VARCHAR},#{realname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},
      #{roleIds,jdbcType=VARCHAR}, #{locked,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.yjiu.shiro.pojo.SysUser" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="roleIds != null" >
        role_ids,
      </if>
      <if test="locked != null" >
        locked,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="roleIds != null" >
        #{roleIds,jdbcType=VARCHAR},
      </if>
      <if test="locked != null" >
        #{locked,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yjiu.shiro.pojo.SysUser" >
    update sys_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
       <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
       <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="roleIds != null" >
        role_ids = #{roleIds,jdbcType=VARCHAR},
      </if>
      <if test="locked != null" >
        locked = #{locked,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yjiu.shiro.pojo.SysUser" >
    update sys_user
    set username = #{username,jdbcType=VARCHAR},
    	realname = #{realname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      role_ids = #{roleIds,jdbcType=VARCHAR},
      locked = #{locked,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>